body,
html {
    width: 100%;
    height: 100%%;
    font-family: Arial, Roboto, “Droid Sans”, “游ゴシック”, YuGothic, “ヒラギノ角ゴ ProN W3″, “Hiragino Kaku Gothic ProN”, “メイリオ”, Meiryo, sans-serif;
}

hr {
    margin-bottom: 50px;
    border-color: #e62b1e;
}

a, a:hover {
    text-decoration: none;
}

.img-center {
    margin: 0 auto;
}

.color-text-tedx {
    color: #e62b1e;
}

.btn-default {
    border-radius: 0px;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 14px;
    border: 2px solid #e62b1e;
    background: #fff;
    color: #222;
}

.btn-default:hover {
    background: #222;
    color: #fff;
}

.btn-default:hover,
.btn-default:visited,
.btn-default:focus {
    border: 2px solid #e62b1e;
}

.btn-tedx {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 0px;
    text-decoration: none;
    padding: 0.7em 1em;
    display: inline-block;
    font-size: 1.5rem;
    border: 3px solid #e62b1e;
}

.hvr-shutter-out-horizontal:before {
    background: #e62b1e;
}

.hvr-shutter-out-horizontal {
    border: 3px solid #fff;
}

.navbar-default {
    background-color: rgb(20, 20, 20);
}

.navbar-default .nav > li a {
    color: #fff;
    border-bottom: 1px solid rgba(200, 200, 200, 0.7);
}

.speaker-box h3 {
    margin-bottom: 30px;
}

.partner {
    background: #222;
    color: #fff;
    padding-bottom: 100px;
}

.partner_logo {
    height: 150px;
}

@media (min-width: 768px) {
    .navbar-default {
        background-color: transparent;
    }
    .navbar-default .nav > li a {
        border-bottom: none;
    }
    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #fff;
    }
    .navbar-nav.navbar-right:last-child {
        margin-right: 0px;
    }
}

.navbar-default.affix {
    background-color: rgb(20, 20, 20);
}

.navbar-nav > li > a {
    line-height: 50px;
    height: 50px;
    padding: 0 10px;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #fff;
        background-color: transparent;
    }
}

.dropdown-menu {
    background-color: transparent;
    border: 1px solid #fff
}

.dropdown-menu>li {
    border-bottom: 1px solid #fff;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #000;
    text-decoration: none;
    background-color: #f5f5f5;
}

.navbar-brand {
    height: 50px;
    padding: 10px 0px 5px 10px;
}

.navbar-brand img {
    width: 100px;
}

.header {
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.header .header-content {
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    transition: background 1s;
    padding: 0;
    width: 100%;
    height: 100%;
    position relative;
    padding-top: 50px;
}
.header .header-content-inner {
    position: absolute;
    display: none;
    opacity: 1;
    z-index: 500;
    max-width: 100%;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header-button {
    display: inline-block;
    width: 80%;
    height: auto;
    font-size: 1.3em;
    border: 2px solid #e62b1e;
    background: #e62b1e;
    color: #fff;
    margin-top: 30px;
    text-align: center;
    border-radius: 3px;
    padding: 5px 3px;
}

.header-button:hover {
    background: #e62b1e;
    color: #fff;
}

.header-button-message {
    margin-left: 5px;
}

@media (min-width: 768px) {
    .header-button {
        background: transparent;
        font-size: 2.3em;;
    }
    .header-button:hover {
        background: #e62b1e;
        color: #fff;
    }
}

.header-img {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.header-arrow {
    position: absolute;
    bottom: 30px;
    color: #fff;
}

.header-arrow:focus {
    color: #fff;
}

.about .section-heading {
    margin-bottom: 40px;
}

.about {
    background: #222;
    color: #fff;
}

.about p {
    text-align: justify;
    text-justify: inter-ideograph;
    font-size: 14px;
}

.about-container {
    margin-bottom: 70px;
}

@media (min-width: 992px) {
    .about-container {
        margin-bottom: 0px;
    }
}

.about-box {
    max-width: 400px;
    line-height: 2em;
    margin: 0 auto;
}

.about-box h3 {
    margin-bottom: 30px;
}

.about-box p {
    margin-bottom: 30px;
    line-height: 1.8;
}

.outline {
    margin-bottom: 20px;
}

.event {
    background-image: url(../img/event_bg.png);
    background-size: cover;
    color: #fff;
}

.event-table {
    margin: 0 auto;
    border: 1px solid #eee;
}

.event-th {
    padding: 0px 10px;
}

.first-th {
    padding-top: 10px;
}

.last-th {
    padding-bottom: 10px;
}

.event-td {
    padding-right: 10px;
    text-align: center;
}

.speaker-box {
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact {
    background: #fff;
}

.contact-icon:hover {
    text-decoration: none;
}

.contact-p {
    margin-bottom: 50px;
}

.fa-twitter {
    color: #4099ff;
}

.fa-facebook {
    color: #3b5998;
}

.icon-line {
    font-size: 42px;
    color: #00C300;
}

.icon-gmail {
    font-size: 42px;
    color: #dd4b39;
}

.footer {
    background: rgb(20, 20, 20);
    color: #eee;
    text-align: center;
    height: 100px;
    padding: 20px;
    width: 100%;
}

.footer p {
    margin-bottom: 0;
    padding: 5px;
    font-size: 11px;
}

@media (min-width: 992px) {
    .footer p {
        font-size: 14px;
    }
}
